:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #494eac;
  text-decoration: inherit;
}
a:hover {
  color: #5131ac;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: #3F87C6; 
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menu-button {
  position: fixed;
  top: 20px; 
  left: 20px; 
  z-index: 1001;
}

.menu-button button {
  background-color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
}

.menub {
  width: 30px;
  height: 50px;
}

li:first-child a svg {
  margin-top: 20px;
  margin-left: -5px;
  height: 20px;
  width: 20px;
}

.slider-menu {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100vh; 
  background: #FAFBFB;
  color: rgb(210, 196, 196);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  z-index: 1000;
  padding-top: 60px; 
}

.slider-menu.open {
  transform: translateX(250px); 
}

.slider-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-menu li {
  padding: 15px;
}

.slider-menu a {
  color: var(--Black, #371800);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.slider-menu a:hover {
  color: #422da9;
}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

}
